body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

h1 {
    color: #007bff;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

#fileInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#rotasContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.route-item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.route-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.route-details strong {
    color: #555;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.response-container {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    white-space: pre-wrap; 
    overflow: auto;
}

.close-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 15px;
}

.close-button:hover {
    background-color: #c82333;
}

.route-item button {
    background-color: #28a745;
}

.route-item button:hover {
    background-color: #218838;
}

.route-item button i {
    font-size: 1.2em;
}
